# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Next.js / Node
node_modules/
.next/
out/
build/

# Database
*.db
*.sqlite3

# Logs
*.log
